body {
    background-color: indianred;
    color: lightblue;
}

.heading {
    width: 80%;
    font-size: 22 px;
}

#camera {
    border: 2px solid lavenderblush;
    width: 350px;
    height: 300px;

}

.name_of_people,#result_person_name,#result_person_accuracy {
    color: black;
}